<table border="0" cellpadding="0" cellspacing="0">
<tr>
	<td><!--texto_titulo--><br><br></td>
</tr>
<tr>
	<td><!--mensaje--></td>
</tr>
<tr>
	<td><!---CONTENIDO_FORMULARIO-->
<form name="fm_cambiarDatos" method="post" action="index.php?m=usuarios&accion=cambiar_datos" onSubmit="return validarFormaCambiarDatos(this)"> 
<table border="0" cellpadding="2" cellspacing="2">
	<tr>
		<td width="200" class="forma_label">*&nbsp;<!--texto_usuario-->:</td>
		<td width="164"><input type="text" name="usu_login" value="<!--usu_login-->"></td>
	</tr>
	<tr>
		<td width="200" class="forma_label"><!--texto_correo-->:</td>
		<td width="164"><input type="text" name="usu_correo" value="<!--usu_correo-->"></td>
	</tr>
	<tr>
		<td width="200" class="forma_label"><!--texto_contrasenha_actual-->:</td>
		<td width="164"><input type="password" name="usu_clave" value=""></td>
	</tr>					
	<tr>
		<td class="forma_label"><!--texto_contrasenha_nueva-->:</td>
		<td><input type="password" name="usu_clave_nueva" value=""></td>
	</tr>
	<tr>
		<td class="forma_label"><!--texto_contrasenha_confirmacion-->:</td>
		<td><input type="password" name="usu_clave_nueva_confirmacion" value=""></td>
	</tr>
	<tr>
		<td align="center" colspan="2"><input type="submit" value="<!--btn_guardar-->">
        <input type="hidden" name="usu_id" value="<!--usu_id-->">
        </td>
	</tr>
</table>
</form>
<!---FIN_CONTENIDO_FORMULARIO--></td>
	</tr>
</table>
