<div class="container">
<div class="row">

	<div class="col-md-10 offset-md-1">
		<div class="row cabecera-seccion">
	        <div class="col-md-12 logo">
	        	<img src="<!--imagenes-->/logo-autopacifico.png" />
		        <h1 class="titulo"><!--label_msg_inicio--></h1>
	        </div>
			<div class="col-md-12">
				<p><!--msg_descripcion--></p>
			</div>
		</div>
		<form name="fm_formularioCotizar" method="post" action="index.php?m=Cotizador&accion=formularioCotizar"> 
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="email"><!--input_nombre--></label>						
						<input type="text" class="form-control" id="nombre" name="nombre" placeholder="" required>
					</div>
				</div>
				<div class="col-12"> 
					<div class="form-group">
					<label for="placa"><!--input_placa--></label>
					<input type="text" class="form-control" name="placa"  id='placa' placeholder="" required>			
					</div>
				</div>				
			</div>

			<div class="row" id="selectLinea">
				<div class="col-12" > 
					<div class="form-group">
					</div>
				</div>
			</div>
			<div class="row d-none" id="contenedorLinea">
				<div class="col-12" > 
					<div class="form-group">
						<label for="linea"><!--label_linea--></label>
						<!--select_modelos-->
					</div>
				</div>
			</div>
			<input type="hidden" name="linea_descripcion" id="linea_descripcion">
			
			<div class="row d-none" id="contenedorAnho">
				<div class="col-12"> 
					<div class="form-group" >
						<label for="anho"><!--input_anho--></label>
					</div>
					<div class="mensaje"></div>
				</div>
			</div>

			<div class="row d-none" id="contenedorKilometraje">
				<div class="col-12" > 
					<div class="form-group">
					<label for="kilometraje"><!--label_kilometraje--></label>
					<!--select_kilometraje-->
					</div>
				</div>
			</div>

			<div class="row d-none" id="contenedorTalleres">
				<div class="col-12" > 
					<div class="form-group">
					<label for="bodega"><!--label_talleres--></label>
					<!--select_talleres-->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 text-center">
					<button class="btn btn-primary btn-lg" id="cotizar" type="submit" value="Submit" role="button">Cotizar</button>
				</div>
			</div>
		</form>
	</div>

</div>
</div>


<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>