<table border="0">
<tr>
    <td style="height:20px;" align="right" colspan="2"><a href='index.php?idioma=1'><img src='<!--imagenes-->/es.gif' border=0></a><a href='index.php?idioma=2'><img src='<!--imagenes-->/en.gif' border=0></a>
<a href='index.php?idioma=3'><img src='<!--imagenes-->/bandera_francia.jpg' border=0></a>
    <a href='index.php?idioma=4'><img src='<!--imagenes-->/bandera_alemania.jpg' border=0></a>
    <a href='index.php?idioma=7'><img src='<!--imagenes-->/bandera_portugal.jpg' border=0></a>
    </td>
</tr>
<tr>
    <td width="260" valign="top"><img src="<!--imagenes-->/hotels_quality.jpg"></td>
    <td><form  name="fm_autenticacion" method="post" action="index.php?m=usuarios&accion=autenticar_usuario" onSubmit="return validarFormaAutenticacion(this)">
        <table border="0" id="form_aut">
			<tr>
				<td width="55" align="left"><!--label_usuario-->:</td>
				<td width="60"><input type="text" name="usu_login" value="<!--usu_login-->" size="15" id="user"></td>
				<td width="80" align="right"><!--label_contrasenha-->:</td>
				<td width="60"><input type="password" name="usu_clave" value="" id="user" size="15"></td>
				<td width="110" align="right"><input type="image" src="<!--imagenes-->/<!--boton_login-->"></td>
				<td><a href="index.php?m=usuarios&accion=forma_olvido_clave"><!--label_olvido_contrasenha--></a></td>
			</tr>
		</table>
        </form>
    </td>
</tr>
<tr>
    <td colspan="2"><br><br><table width="100%">
        <tr>
          <td valign="top">
          <!--mensaje--><form  name="fm_informacion" method="post" action="index.php?m=usuarios&accion=enviar_informacion" onSubmit="return validarFormaInformacion(this)">
          <table id="form_aut">
            <tr>
                <td><!--label_nombre_establecimiento-->:</td>
			</tr>
			<tr>
                <td><input size="30" type="text" name="inf_nombre_establecimiento" value="<!--inf_nombre_establecimiento-->"></td>
            </tr>
            <tr>
                <td><font color="#ff0000">*</font>&nbsp;<!--label_nombre-->:</td>
			</tr>
			<tr>
                <td><input size="30" type="text" name="inf_nombre" value="<!--inf_nombre-->"></td>
            </tr>
            <tr>
                <td><!--label_telefono-->:</td>
			</tr>
			<tr>
                <td><input size="30" type="text" name="inf_telefono" value="<!--inf_telefono-->"></td>
            </tr>			
            <tr>
                <td><font color="#ff0000">*</font>&nbsp;<!--label_correo-->:</td>
			</tr>
			<tr>
                <td><input size="30" type="text" name="inf_correo" value="<!--inf_correo-->" onblur="validarCorreo(this)"></td>
            </tr>
            <tr>
                <td><!--label_pms-->:</td>
			</tr>
			<tr>
                <td><input size="30" type="text" name="inf_pms" value="<!--inf_pms-->"></td>
            </tr>
            <tr>
                <td><font color="#ff0000">*</font>&nbsp;<!--label_captcha-->:</td>
            </tr>
            <tr>
                <td><table cellspacing="0" cellpadding="0">
                    <tr>
                        <td><img src="<!--path_web-->/Includes/captcha.php" width="60" height="20" align="absmiddle" /></td>
                        <td width="2"></td>
                        <td><input class="campo_captcha" type="text" size="5" maxlength="5" name="inf_captcha" value=""></td>
                    </tr>
                </table>
                
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left"><br><br><input type="image" name="submit" src="<!--imagenes-->/<!--boton_enviar-->" onmouseover="this.src='<!--imagenes-->/<!--boton_enviar_2-->'"  onmouseout="this.src='<!--imagenes-->/<!--boton_enviar-->'"/>
                </td>
            </tr>
          </table>
          </form>
            <script language="javascript" type="text/javascript">
            document.fm_informacion.inf_nombre.focus();
        </script>
          </td>
          <td width="630" align="center"><img src="<!--imagenes-->/imagen_informacion.jpg"></td>
        </tr>
    </table>
    </td>
</tr>
</table>
