<div class="container">
	<div class="row cabecera-seccion">
				<div class="col-md-12 logo">
					<img src="<!--imagenes-->/logo-autopacifico.png" />
					<h1 class="titulo" style="text-align: left;"><!--label_msg_inicio--></h1>
				</div>
				<div class="col-md-12">
					<p><!--msg_descripcion--></p>
				</div>

				<div class="col-md-4 offset-md-1">
					FECHA:
				</div>
				<div class="col-md-4">
					<!--label_fecha-->
				</div>

				<div class="col-md-4 offset-md-1">
					REFERENCIA:
				</div>
				<div class="col-md-4">
					<!--label_referencia-->
				</div>


	</div>


<form id="formInfoPagosCedula" class="m-t" name="formInfoReciboPSE" ng-submit="" role="form" action="index.php" method="post">

		<div class="row formulario">
						<div class="col-md-12">
							<h2>DATOS DE TRANSACCIÓN</h2>
						</div>
		        <div class="col-md-12">
			            <div class="form-group row">
			               <label for="numberGuest" class="col-12 col-md-6 col-form-label text-left">Nombre:</label>
										 <label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">Banco:</label>

			            </div>
			            <div class="form-group row">
										<div class="col-12 col-md-6"><input type="text" ng-model="cli_nombre" name="cli_nombre" class="form-control disabled" value="<!--label_nombres-->" placeholder="<!--label_nombres-->" disabled></div>
										<div class="col-12 col-md-6"><input type="tel" ng-model="cli_banco" name="cli_banco" class="form-control" value="<!--label_banco-->" placeholder="<!--label_telefono-->" disabled></div>
			            </div>

									<div class="form-group row">
			               <label for="numberGuest" class="col-12 col-md-6 col-form-label text-left">Descripción de Transacción:</label>
										 <label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">Estado de la transacción:</label>

			            </div>
			            <div class="form-group row">
										<div class="col-12 col-md-6"><input type="text" ng-model="cli_descripcion" name="cli_descripcion" class="form-control disabled" value="<!--label_transaccion-->" placeholder="<!--label_transaccion-->" disabled></div>
										<div class="col-12 col-md-6"><input type="tel" ng-model="cli_estado" name="cli_estado" class="form-control" value="<!--label_estado-->" placeholder="<!--label_estado-->" disabled></div>
			            </div>
									<div class="form-group row">
			               <label for="numberGuest" class="col-12 col-md-6 col-form-label text-left">IP de la Transacción:</label>
										 <label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">Valor:</label>

			            </div>
			            <div class="form-group row">
										<div class="col-12 col-md-6"><input type="text" ng-model="cli_ip" name="cli_ip" class="form-control disabled" value="<!--label_ip-->" placeholder="<!--label_nombres-->" disabled></div>
										<div class="col-12 col-md-6"><input type="tel" ng-model="cli_valor" name="cli_valor" class="form-control" value="<!--label_valor-->" placeholder="<!--label_valor-->" disabled></div>
			            </div>

									<div class="form-group row">
										<!--campos_facturas_pendientes-->
			            </div>

		        </div>

        </div>
		<div class="form-group row">

		        <div class="col-md-4 offset-md-4">
			            <input type="submit" class="btn btn-primary block full-width m-b" value="<!--boton_procesar-->" name="submit">
		        </div>

        </div>
</form>
</div>
<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>
<script>
/*(function ($) {
$( "#seleccion-identificacion input" ).each(function() {
	if ($(this).is(':checked')) {
	    mostrarCampoConsulta($(this).val());
	  }
	  //$( this ).addClass( "foo" );
	  $( this ).click(function() {
		  if ($(this).is(':checked')) {
		    mostrarCampoConsulta($(this).val());
		  }
		});
	});

	function mostrarCampoConsulta(seleccionado){

		$( "#formHome .form-group.opened" ).each(function() {
				  $( this ).removeClass( "opened" );
				  $( this ).addClass( "closed" );
			});
		$('#formHome .form-group-'+seleccionado).removeClass( "closed" );
		$('#formHome .form-group-'+seleccionado).addClass( "opened" );
	}
})(jQuery);*/
</script>
