<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td width='20'>&nbsp;</td>
	<td class="forma_titulo"><br><!--label_olvido_contrasenha--></td>
</tr>
<tr>
    <td width='20'>&nbsp;</td>
	<td><!--mensaje--></td>
</tr>
<tr>
    <td width='20'>&nbsp;</td>
	<td align="left"><!--label_msg_olvido_contrasenha--><br><br></td>
</tr>
<tr>
    <td width='20'>&nbsp;</td>
	<td><!---CONTENIDO_FORMULARIO-->
<form name="fm_clave" method="post" action="index.php?m=usuarios&accion=olvido_clave" onSubmit="return validarFormaClave(this)"> 
<table border="0" cellpadding="2" cellspacing="2" id="form_aut">
	<tr>
		<td width="200" class="forma_label"><!--label_usuario-->:</td>
		<td width="164"><input type="text" name="usu_login" value="<!--usu_login-->"></td>
	</tr>					
	<tr>
		<td class="forma_label"><!--label_correo-->:</td>
		<td><input type="texto" name="usu_correo" value=""></td>
	</tr>
	<tr>
		<td align="left" colspan="2"><input type="submit" value="<!--label_enviarme_contrasenha-->"></td>
	</tr>
</table>
</form>
<script language="javascript" type="text/javascript">
document.fm_clave.usu_login.focus();
</script><!---FIN_CONTENIDO_FORMULARIO--></td>
	</tr>
	<tr>
	   <td></td>
	   <td><br><a href="<!--path_web-->"><!--label_volver--></a></td>
	</tr>
</table>
