<form id="verificarTrasaccion" class="m-t" name="formInfoPagosCedula" ng-submit="" role="form" action="index.php?m=pagos&accion=infoPagosPSE" method="post">
	<div class="row cabecera-seccion">
				<div class="col-md-8 offset-md-2 logo">
					<img src="<!--imagenes-->/logo-autopacifico.png" />
					<h1 class="titulo"><!--label_msg_inicio--></h1>
				</div>
				<div class="col-md-8 offset-md-2">
					<p><!--msg_descripcion--></p>
				</div>
	</div>
	<div class="row formulario">
					<div class="col-md-8 offset-md-2">

						<div class="form-group row">

							<div class="col-12 col-md-10 offset-md-2"><input type="hidden" ng-model="cli_cedula" name="cli_cedula" class="form-control disabled" value="<!--label_cedula-->"></div>
						</div>
								<div class="form-group row">
									 <label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">NOMBRES:</label>
									 <div class="col-12 col-md-10"><input type="text" ng-model="cli_nombre" name="cli_nombre" class="form-control disabled" value="<!--label_nombres-->" placeholder="<!--label_nombres-->" readonly='readonly'></div>
								</div>
								<div class="form-group row">
										<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">TELEFONO:</label>
										<div class="col-12 col-md-10"><input type="tel" ng-model="cli_telefono" name="cli_telefono" class="form-control" value="<!--label_telefono-->" placeholder="<!--label_telefono-->" required></div>
								</div>
								<div class="form-group row">
										<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">EMAIL:</label>
										<div class="col-12 col-md-10"><input type="email" ng-model="cli_email" name="cli_email" class="form-control" value="<!--label_email-->" placeholder="<!--label_email-->" required></div>
								</div>

					</div>

			</div>

			<div class="container">
				<div class="row">
					<ul class="nav nav-tabs" role="tablist" style="margin: auto;">
					  <li class="nav-item">
					    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Facturas</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Abono</a>
					  </li>
					</ul>
				</div>
					<!-- Tab panes -->
				<div class="tab-content justify-content-md-center">
				  <div role="tabpanel" class="tab-pane fade in active show" id="profile">
						<div class="row formulario">
						        <div class="col-md-10 offset-md-1">
												<div class="form-group row">
													<!--campos_facturas_pendientes-->
						            </div>
						        </div>
				     </div>
					 </div>
				  <div role="tabpanel" class="tab-pane fade" id="buzz">
						<div class="row formulario">
						        <div class="col-md-10 offset-md-1">
												<div class="form-group row">
													<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">CONCEPTO:</label>
													<div class="col-12 col-md-10"><!--lista_facturas_pendientes--></div>


						            </div>
												<div class="form-group row">
												<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">Valor:</label>
												<div class='col-md-10'>
													<input type='number' class="form-control" name='conceptoFactura' id='montoConcepto' readonly='readonly'>
												</div>
											</div>
						        </div>
								</div>
					</div>
					<div class="form-group row">
							<div class="col-md-4 offset-md-4">
										<input type="submit" class="btn btn-primary block full-width m-b" value="<!--boton_procesar-->" name="submit">
							</div>
					</div>
				</div>
</div>

</form>
<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>
<script>
/*(function ($) {
$( "#seleccion-identificacion input" ).each(function() {
	if ($(this).is(':checked')) {
	    mostrarCampoConsulta($(this).val());
	  }
	  //$( this ).addClass( "foo" );
	  $( this ).click(function() {
		  if ($(this).is(':checked')) {
		    mostrarCampoConsulta($(this).val());
		  }
		});
	});

	function mostrarCampoConsulta(seleccionado){

		$( "#formHome .form-group.opened" ).each(function() {
				  $( this ).removeClass( "opened" );
				  $( this ).addClass( "closed" );
			});
		$('#formHome .form-group-'+seleccionado).removeClass( "closed" );
		$('#formHome .form-group-'+seleccionado).addClass( "opened" );
	}
})(jQuery);*/
</script>
