<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
	<td class="forma_titulo">Usted esta en el sistema como: <!--usu_login--></td>
</tr>
<tr>
	<td align="center"><!--mensaje--></td>
</tr>
<tr>
	<td  align="center" class="forma_label">
	<br><br>
	Bienvenido al sistema de env&iacute;o automatico de encuestas<br><br><br>
	<!--fecha--><br><br><br>
	<a href="<!--path_web-->/index.php?m=usuarios&accion=forma_cambiar_clave">Cambiar Contrase&ntilde;a</a>
	<br><br><br>
	</td>
</tr>
</table>