<div class="container">
<div class="row">
	<div class="col-md-10 offset-md-1">

		<div class="row cabecera-seccion">
	        <div class="col-md-12 logo">
	        	<img src="<!--imagenes-->/logo-autopacifico.png" />
		        <h1 class="titulo"><!--label_msg_inicio--></h1>
	        </div>

		</div>
		<div class="row mhide formulario">
		        <div class="col-sm-6 offset-sm-3"><h3 style="text-align:center;" class="txt-mensajes"><!--mensaje_cedula--></h3></div>
		</div>
		<div class="row campo-input">
		        <div class="col-12 col-sm-6 offset-sm-3 mb-3">
							 <div class="card bg-danger text-white">
							   <div class="card-body"><p class="text-center no-encontrado"><!--msg_descripcion--></p></div>
							 </div>
		        </div>
						<div class="col-12 col-sm-6 offset-sm-3">
							<a href="index.php" class="btn btn-primary boton-procesar block full-width m-b" name="">RETORNAR</a>
						</div>

		</div>



	</div>

</div>
</div>


<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>
<script>
/*(function ($) {
$( "#seleccion-identificacion input" ).each(function() {
	if ($(this).is(':checked')) {
	    mostrarCampoConsulta($(this).val());
	  }
	  //$( this ).addClass( "foo" );
	  $( this ).click(function() {
		  if ($(this).is(':checked')) {
		    mostrarCampoConsulta($(this).val());
		  }
		});
	});

	function mostrarCampoConsulta(seleccionado){

		$( "#formHome .form-group.opened" ).each(function() {
				  $( this ).removeClass( "opened" );
				  $( this ).addClass( "closed" );
			});
		$('#formHome .form-group-'+seleccionado).removeClass( "closed" );
		$('#formHome .form-group-'+seleccionado).addClass( "opened" );
	}
})(jQuery);*/
</script>
