/* CSS Document */


/* ESTILOS GENERALES */
body
{
	text-align: center;
	font-family:Verdana;
	font-size:10px;
	color:black;
}

a
{
	color:black;
	font-size:11px
}

a:hover
{
	text-decoration:none;
}


.texto_normal{font-family:Verdana; font-size:11px}


.label_forma{text-align:right}

#formulario td {font-size:10px; text-align:center}
#titulo {font-size:15px; font-weight:bold}
#menu td {text-align:center;font-size:11px;}

/* DESTINATARIOS */

#destinatarios{text-align:center}
#destinatarios td{font-size:11px; text-align:center}
#destinatarios th{font-size:11px}


/* GRUPOS */
#grupos{text-align:center}
#grupos td{font-size:11px; text-align:center}
#grupos th{font-size:11px}
#grupos a{font-size:11px}
#grupos input{width:200px}

/* ENVIOS  */
#enviar td{font-size:11px; text-align:center}
#enviar th{font-size:11px}
#enviar input{width:50px}



/*   MENSAJES */

.mensaje_error
{
    border:1px solid #ff0000;
    background:silver;
    color:black;
    font-size:11px
    position:relative;
    width:300px;
    padding:4px;
    height:30px;
    padding-left:40px;
    background-image: url(../Imagenes/icon_error.jpg);
    background-position: left; 
    background-repeat: no-repeat;
    text-align:center
    padding-left:30px;
    padding-top:7px
}


.mensaje_exito
{
    border:1px solid #0000ff;
    background:silver;
    color:black;
    font-size:11px
    position:relative;
    width:300px;
    padding:4px;
    height:30px;
    background-image: url(../Imagenes/icon_exito.jpg);
    background-position: left; 
    background-repeat: no-repeat;
    text-align:center;
    padding-left:30px;
    padding-top:7px
    
}

.mensaje_warning
{
    border:1px solid #ffff00;
    background:silver;
    color:black;
    font-size:11px
    position:relative;
    width:300px;
    padding:4px;
    height:30px;
    background-image: url(../Imagenes/icon_advertencia.jpg);
    background-position: left; 
    background-repeat: no-repeat;
    text-align:center;
    padding-left:30px;
    padding-top:7px
}


/*  FONDOS PARA LISTADO DE TABLAS*/
.fondo_claro
{
   background-color: #DDDDDD;
}

.fondo_oscuro
{
     background-color: #ffcc33;
}


/*****************************************************/
