<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{ titulo }}</h4>
    </div>
    <div class="modal-body">
       <iframe scrolling="auto" src="{{ contenido }}" frameborder="0" class="iframe-modal-250px"></iframe>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{ cerrar }}</button>
    </div>
</div>