<div class="inmodal encuesta_interna" >
    <div class="modal-header" >
        <h4 class="modal-title">{{ titulomodal }}</h4>
    </div>
    <div class="modal-body" >
       {{ contenidomodal }}
    </div>
    <div class="modal-footer" >
    	<button type="button" class="btn btn-primary" ng-click="acciones()">{{ btn_confirmar }}</button>
        <button type="button" class="btn btn-white" ng-click="cancelar()">{{ btn_cerrar }}</button>
    </div>
</div>


